body {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 18px;
    background-color: #f2f2f2;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 20px;
    border: 2px solid red;
}

.header > * {
    border: 2px solid green;
    padding: 5px;
    display: flex;
    align-items: center;
    height: 100%;
}

.about-me {
    display: flex
}
.title {
    color: #0077b5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

img {
    padding: 10px;
    padding-top: 15px;
    height: 27px;
    width: 27px;
}

.nav-bar-user-input > * {
    border: 2px solid red;
}