body {
    /* font-family: 'Raleway', sans-serif; */
    font-size: 18px;
    background-color: #f2f2f2;
}

.header {
    display: flex;
    justify-content: center;
}

.about-me {
    margin: 30px;
}

.title {
    color: #0077b5;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 50px;
    font-weight: 750;
    margin-top: 20px;
}

.header-link > img {
    height: 27px;
    width: 27px;
    margin-right: 5px;
}

