.job-posts-success{
    display: flex;
}

.job-cards-container > div {
    margin: 10px;
    padding: 5px;
    border: 2px solid lightblue;
}

.job-desc-container {
    margin: 10px;
    padding: 10px;
    border: 2px solid lightblue;
}